<h2>Show the record</h2>
<h5><%= @project.title%></h5>
<%= @project.description%>
<ul>
  <li><%= link_to "Edit", edit_project_path(@project) %></li>
  <li><%= button_to "Destroy",@project,
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

